<h2><i><u>About us</u></i></h2>
	
	<h3><u><i><font color="#A52A2A">The Story of Blogger:-</font></i></u></h3><br/>
	
<p><font color="red">
Blogger was started by a tiny company in San Francisco called Pyra Labs in August of 1999. This was in the midst of the dot-com boom. But we were not exactly a VC-funded, party-throwing, football-in-the-lobby-playing, free-beer-drinking outfit. (Unless it was other people's free beer.)

We were three friends, funded by doing annoying contract web projects for big companies, trying to make our own grand entrance onto the Internet landscape. What we were originally trying to do does not matter so much now. But while doing it, we created Blogger, more or less on a whim and thought — Hmmm...this is interesting.

Blogger took off, in a small way, and eventually a bigger way, over a couple years. We raised a little money (but stayed small). And then the bust happened, and we ran out of money, and our fun little journey got less fun. We narrowly survived, not all in one piece, but kept the service going the whole time (most days) and started building it back up.

Things were going well again in 2002. We had hundreds of thousands of users, though still just a few people. And then something no one expected happened: Google wanted to buy us. Yes, that Google.

We liked Google a lot. And they liked blogs. So we were amenable to the idea. And it worked out nicely.</font></p><br/><br/>
<%= link_to 'Home',{:action=>'index', :controller=>'articles'}%><br/>

	